MACH=izumi
PROJECT=P9300041
SRCDIR=/project/tss/afoster/ctsm_fates
TAG=test_clm5
PARAM_DIR=/project/tss/afoster/ctsm_fates/src/fates/parameter_files/
CASE_DIR=/project/tss/afoster/CTSM_cases/test
COMP=I2000Clm50BgcCrop
RES=f45_f45_mg37
STOPN=10
STARTDATE=1996-01-01
STOPVAL=nyears
DATMSTARTYR=1996
DATMSTOPYR=2001

